:root {
  /* colors */
  --color-primary400: #005ae2;
  --color-primary300: #0065fe;
  --color-white: #ffffff;
  --color-black: #141414;

  /* font */
  --sans-serif: "Gilroy-Medium", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--sans-serif);
  color: var(--color-black);
  font-weight: 400;
  max-width: 144rem;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.text-blue {
  color: var(--color-primary400);
}

.headline {
  font-size: 4rem;
  font-family: "Gilroy-Bold", sans-serif;
}

.icon {
  width: 5rem;
}

.wrapper {
  padding: 1.2rem 14rem;
}

.logo {
  width: 15rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.4rem;
}

.header__nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.nav--link {
  font-size: 1.3rem;
}

.nav--link .active {
  color: var(--color-primary300);
}

.nav--link.feature {
  display: flex;
}

.nav--link.feature img {
  align-self: center;
  width: 1.8rem;
  margin-left: 0.2rem;
}

.btn--text {
  font-family: "Gilroy-Semibold", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-primary300);
}

.btn--primary {
  background-color: var(--color-primary300);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/* hero section styles */

.hero {
  min-height: calc(100vh - 5.6rem);
  margin-top: 4rem;
  position: relative;
  text-align: center;
}

.hero--title {
  font-size: 4.8rem;
  line-height: 1.5;
}

.hero--title span {
  color: var(--color-primary400);
}

.hero--stripped-line {
  width: 17.5rem;
  display: inline-block;
  margin-top: -1.5rem;
}

.hero--cta p {
  width: 78rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.hero--cta-btns {
  margin-top: 3.2rem;
}

.hero--cta-btns a:first-of-type {
  margin-right: 5.6rem;
}

.hero--cta-shareable {
  width: 75rem;
  margin-left: auto;
  margin-right: 5rem;
  margin-top: 5.6rem;
}

.hero--cta-divider {
  margin: 0 -14rem;
  height: 7rem;
}

.bg-aurora--first {
  width: 199.1px;
  height: 215.08px;
  background: #d60505;
  position: absolute;
  filter: blur(350px);
  left: 191px;
  top: 0px;
}

.bg-aurora--second {
  width: 199.1px;
  height: 215.08px;
  background: #067808;
  filter: blur(350px);
  position: absolute;
  left: 461px;
  top: 11.9px;
}

.bg-aurora--third {
  width: 199.1px;
  height: 215.08px;
  background: #eac81f;
  filter: blur(350px);
  position: absolute;
  left: 978px;
  top: 111.9px;
}

/* stats section styles */
.stats--wrapper {
  margin: 1.8rem -14rem;
  background-color: #f9fbfd;
  padding: 6rem 14rem;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats--figures {
  display: flex;
  gap: 5rem;
}

.stats--figures div h3:first-of-type {
  font-size: 2.5rem;
  margin-bottom: 0.4rem;
  font-family: "Gilroy-Bold", sans-serif;
}

.stats--figures div h3:last-of-type {
  font-size: 1.2rem;
}

/* About section styles */
.about {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about--headline {
  display: grid;
  grid-template-columns: 0.5rem max-content max-content;
  align-items: center;
  gap: 1rem;
}

.about--headline::before {
  content: "";
  width: 0.5rem;
  height: 48px;
  background-image: linear-gradient(
    180deg,
    hsl(209deg 49% 13%) 17%,
    hsl(209deg 47% 16%) 48%,
    hsl(210deg 44% 20%) 57%,
    hsl(210deg 41% 23%) 62%,
    hsl(209deg 39% 26%) 66%,
    hsl(209deg 38% 29%) 69%,
    hsl(209deg 35% 32%) 74%,
    hsl(209deg 33% 35%) 80%,
    hsl(209deg 30% 39%) 88%,
    hsl(209deg 28% 42%) 100%
  );
}

.about--headline-text {
  font-size: 1.6rem;
  width: 70%;
  margin-left: 1.5rem;
  margin-top: 1.6rem;
  line-height: 1.6;
}

.about--services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 3rem;
  row-gap: 7rem;
}

.about--services h1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about--services p {
  font-size: 1.4rem;
  line-height: 1.3;
}
