:root {
  /* colors */
  --color-primary400: #005ae2;
  --color-primary300: #0065fe;
  --color-white: #ffffff;
  --color-black: #141414;

  /* font */
  --sans-serif: "Quicksand", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--sans-serif);
  color: var(--color-black);
  font-weight: 400;
  max-width: 144rem;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.wrapper {
  padding: 1.2rem 14rem;
}

.logo {
  width: 15rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.nav--link {
  font-size: 1.3rem;
}

.nav--link .active {
  color: var(--color-primary300);
}

.nav--link.feature {
  display: flex;
}

.nav--link.feature img {
  align-self: center;
  width: 1.8rem;
  margin-left: 0.2rem;
}

.btn--text {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-primary300);
}

.btn--primary {
  background-color: var(--color-primary300);
  color: var(--color-white);
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
